@charset "UTF-8";
/* =============
main
=============*/
/* .article header */
.mainVisual {
    padding-left: 5.3%;
    margin-left: auto;
}

.image__sp {
    width: 100%;
    flex-shrink: 0;
}

.image__pc {
    display: none;
}

/* .article header pc */
@media screen and (min-width:769px) {
    .mainVisual {
        padding: 0 13.2%;
    }

    .image__sp {
        display: none;
    }

    .image__pc {
        display: block;
        width: 100%;
        flex-shrink: 0;
        margin-top: -14px;
    }
}/* pc 769px */

/* .about */
.section--about {
    background-color: #FFFDF0;
    padding: 70px 5.3%;
}

.about__img {
    max-width: 273px;
    margin: 0 auto;
}

.about__img--sp {
    width: 100%;
    flex-shrink: 0;
}

.about__img--pc {
    display: none;
}

.about__content {
    margin-top: 40px;
}

.about__topic {
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 2.6px;
    border-bottom: 1px solid #1E3C78;
    display: inline-block;
}

.about__name {
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 3.1px;
    margin-top: 25px;
}

.about__txt {
    margin-top: 15px;
}

.txt__detail {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 2.1px;
}

.about__btn {
    display: flex;
    width: 131px;
    height: 37px;
    justify-content: center;
    align-items: center;
    color: #1E3C78;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1.92px;
    border: 1px solid #1E3C78;
    margin-top: 25px;
    margin-left: auto;
}

.about__btn a {
    width: calc(100% - 22px);
    text-align: center;
    display: block;
    margin: 7px 11px;
}


/* .about pc */
@media screen and (min-width:769px) {
    .section--about {
        background-color: #FFFDF0;
        padding: 100px 3.3% 96px;
    }

    .about__item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 90px;
    }

    .about__img {
        min-width: 446px;
        margin: 0;
    }

    .about__img--sp {
        display: none;
    }

    .about__img--pc {
        display: block;
        width: 100%;
        flex-shrink: 0;
    }

    .about__content {
        padding: 50px 0;
        margin-top: 0;
    }

    .about__topic {
        letter-spacing: 2.4px;
        border-bottom: 1px solid #1E3C78;
        display: inline-block;
    }

    .about__name {
        margin-top: 53px;
        font-size: 3.5rem;
        letter-spacing: 5.3px;
    }

    .about__txt {
        margin-top: 32px;
    }

    .txt__detail {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.7;
        letter-spacing: 2.4px;
        margin-top: 38px;
    }

    .txt__detail:first-of-type {
        margin-top: 0 ;
    }

    .about__btn {
        display: flex;
        width: 157px;
        height: 44px;
        padding: 8px 13px;
        justify-content: center;
        align-items: center;
        color: #1E3C78;
        font-size: 1.4rem;
        letter-spacing: 2.1px;
        border: 1px solid #1E3C78;
        margin-top: 10px;
        margin-left: auto;
    }
}/* pc 769px */

/* .work */
.section--work {
    padding-bottom: 40px;
}

.work__img {
    display: flex;
    background: linear-gradient(to right, #1E3C78 50%, transparent 50%);
    padding: 70px 5.3%;
}

.work__img img {
    max-width: 335px;
    margin: 0 auto;
}

.work__content {
    position: relative;
    max-width: 335px;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.14);
    padding: 20px 3% 20px 6%;
    margin-top: 60px;
    margin-left: auto;
}

.work__content::before {
    content: "";
    position: absolute;
    left: -20px;
    top: -20px;
    width: 100%;
    height: 100%;
    background-color: #D8D0C4;
    z-index: -1;
}

.work__topic {
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 2.6px;
    border-bottom: 1px solid #1E3C78;
    display: inline-block;
}

.work__name {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 2.4px;
    margin-top: 21px;
}

.work__txt {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 2px;
    margin-top: 15px;
}


.work__btn{
    display: flex;
    width: 131px;
    height: 37px;
    color: #1E3C78;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1.92px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: 5.3%;
    border: 1px solid #1E3C78;

}

.work__btn a {
    width: calc(100% - 22px);
    text-align: center;
    display: block;
    margin: 7px 11px;
}

/* .work pc */
@media screen and (min-width:769px) {
    .section--work {
        padding: 115px 15.8% 70px 9%;
        background: linear-gradient(to right,#1E3C78 32.2%, transparent 0%);
    }

    .work__group {
        display: flex;
        gap: 10.1%;
        align-items: center;
        justify-content: space-between;
    }

    .work__img {
        display: block;
        background: none;
        padding: 0;
        width: 530px;
    }

    .work__img img {
        max-width: none;
        width: 100%;
        margin: 0;
    }

    .work__content {
        position: relative;
        width: 100%;
        max-width: none;
        min-width: 383px;
        flex: 1;
        background-color: white;
        background-size: cover;
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.14);
        padding: 35px 5.2%;
        margin: 0;
    }

    .work__content::before {
        content: "";
        position: absolute;
        left: -25px;
        top: -25px;
        width: 100%;
        height: 100%;
        background-color: #D8D0C4;
        z-index: -1;
    }

    .work__topic {
        letter-spacing: 2.4px;
        border-bottom: 1px solid #1E3C78;
        display: inline-block;

    }

    .work__name {
        font-size: 2.4rem;
        letter-spacing: 2.9px;
        margin-top: 23px;
    }

    .work__txt {
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 2.3px;
        margin-top: 17px;
    }

    .work__btn {
        display: flex;
        width: 157px;
        height: 44px;
        font-size: 1.4rem;
        letter-spacing: 2.1px;
        padding: 8px 13px;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-top:25px;
    }
}/* pc 760px */
