body {
    font-size: 120%;
    color: #333333;
}

hr {
    border: none;
    border-top: 1px solid #c0c0c0;
    padding-bottom: 64px;
}

.text-center {
    text-align: center;
}

span.colored {
    background:linear-gradient(transparent 60%, #ff6 60%);
}

main {
    padding: 0 16px;
    max-width: 1024px;
    margin: auto;
}

body > header {
    padding: 32px 16px 8px 16px;
    text-align: right;
    background-image: url("../images/bg_header.gif");
    text-shadow: 2px 2px 0 #ffffff, -2px -2px 0 #ffffff,
    -2px 2px 0 #ffffff, 2px -2px 0 #ffffff,
    0 2px 0 #ffffff,  0 -2px 0 #ffffff,
    -2px 0 0 #ffffff, 2px 0 0 #ffffff;
    border-bottom: 1px solid #f0f0f0;
}

body > footer {
    margin-top: 64px;
    padding: 32px 16px 8px 16px;
    background-image: url("../images/bg_header.gif");
    border-top: 1px solid #f0f0f0;
}

body > header h1 {
    margin:0;
    padding: 0;
    font-size: 1.8rem;
}

main > h2 {
    text-align: center;
    font-size: 1rem;
    font-weight: normal;
}

/**
 * ヒーロー画像・概要
 */

.hero {
    display :flex;
    align-items: center;
    padding: 16px 0 0;
}

.hero figcaption {
    font-size: 1rem;
}

.hero-profile {
    text-align: center;
}

.hero-profile img.president {
    width: 160px;
    height: 160px;
    border-radius: 100%;
}

.hero p {
    line-height: 1.8rem;
}

/**
 * SNSリンク
 */


ul.social-link {
    margin: 32px 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.social-link li {
    border: 1px solid;
    border-radius: 8px;
    margin: 0 8px;
    background-color: #ffffff;
    flex-shrink: 1;
}

.social-link svg {
    width: 1.3rem;
    height: 1.3rem;
    position: relative;
    top: 4px;
}

.social-link a {
    display: block;
    padding: 4px 16px 6px 16px;
    text-decoration: none;
    color: #333333;
    font-size: 1.1rem;
}

.social-link a:hover {
    opacity: 0.8;
}

.social-link .twitter, .social-link .twitter svg {
    border-color: #00acee;
    fill: #00acee;
}

.social-link .facebook, .social-link .facebook svg {
    border-color: #3b5998;
    fill: #3b5998;
}

.social-link .blog, .social-link .blog svg {
    border-color: #00bfa5;
    fill: #00bfa5;
}

.social-link .property, .social-link .property svg {
    border-color: #795548;
    fill: #795548;
}

/**
 * 事例
 */

article {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 32px;
}

article > section {
    min-width: 45%;
    max-width: 45%;
    flex-shrink: 1;
    margin-top: 16px;
}

article > section > img {
    margin: auto;
    border-radius: 16px;
}

article > section header {
    padding: 16px 0 0 0 ;
}

article > section header h4 {
    display: inline;
}

article > section header h5 {
    display: inline;
}

article > section dl {
    font-size: 1rem;
}

article > section dl dt {
    font-weight: bold;
    margin: 16px 0 8px;
}


/**
 * 概要
 */
table {
    font-size: 1.1rem;
    margin: auto;
}

table th, table td {
    vertical-align: top;
    padding: 8px 0;
}

table tr th {
    padding-right: 16px;
    border-right: 1px dotted #cccccc;
}

table tr td {
    padding-left: 16px;
}

table ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

table li {
    padding-bottom: 8px;
}

table a {
    text-decoration: none;
    border-bottom: 1px dotted;
}

